{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
    Calculator
{% endblock  %}

{% block body %}

<style>
        .container {
            width: 90%;
            max-width: 1200px;
            text-align: left;
        }
        .card {
            margin: 20px auto;
            width: 100%;
        }
        .card-body {
            padding: 20px;
        }
        fieldset {
            margin-bottom: 20px;
        }
</style>

    <h1>Calculator</h1>
    <p>Vehiculo ID: {{vehiculo.id}} </p>
    <div class="container">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">{{ vehiculo.marca_modelo }}</h5>
                <p class="card-text">Año: {{ vehiculo.ano_fabricacion }}</p>
                <p class="card-text">Transmisión: {{ vehiculo.tipo_transmision }}</p>
                <p class="card-text">Motor: {{ vehiculo.tamano_motor }} CC</p>
                <form action="{% url 'registrarConsumo' vehiculo.id %}" method="POST">
                    {% csrf_token %}
                    <!-- Datos de Consumo y Distancia -->
                    <fieldset class="border p-4 mb-4">
                        <legend class="w-auto">Datos de Consumo y Distancia</legend>
                        <div class="mb-3">
                            <label for="kilometrajeAnual" class="form-label">* Kilometraje Anual (km)</label>
                            <input type="number" class="form-control" name="kilometrajeAnual" id="kilometrajeAnual" required>
                        </div>
                        <div class="mb-3">
                            <label for="consumoPromedio" class="form-label">Consumo Promedio (L/100km)</label>
                            <input type="number" step="0.01" class="form-control" name="consumoPromedio" id="consumoPromedio">
                        </div>
                        <div class="mb-3">
                            <label for="distanciaPromedio" class="form-label">* Distancia Promedio por Viaje (km)</label>
                            <input type="number" class="form-control" name="distanciaPromedio" id="distanciaPromedio" required>
                        </div>
                        <div class="mb-3">
                            <label for="frecuenciaConduccion" class="form-label">* Frecuencia de Conducción</label>
                            <select class="form-select" name="frecuenciaConduccion" id="frecuenciaConduccion" required>
                                <option value="">Seleccione...</option>
                                <option value="diaria">Diaria</option>
                                <option value="semanal">Semanal</option>
                                <option value="mensual">Mensual</option>
                            </select>
                        </div>
                    </fieldset>
            
                    <!-- Costos -->
                    <fieldset class="border p-4 mb-4">
                        <legend class="w-auto">Costos</legend>
                        <div class="mb-3">
                            <label for="precioCombustible" class="form-label">* Precio del Combustible en tu zona ( $/galón)</label>
                            <input type="number" step="0.01" class="form-control" name="precioCombustible" id="precioCombustible" required>
                        </div>
                        <div class="mb-3">
                            <label for="costosMantenimiento" class="form-label">* Costos de Mantenimiento ($/año)</label>
                            <input type="number" class="form-control" name="costosMantenimiento" id="costosMantenimiento" required>
                        </div>
                        <div class="mb-3">
                            <label for="impuestosVehiculares" class="form-label">* Impuestos Vehiculares ($/año)</label>
                            <input type="number" class="form-control" name="impuestosVehiculares" id="impuestosVehiculares" required>
                        </div>
                        <div class="mb-3">
                            <label for="seguros" class="form-label">* Seguros ($/año)</label>
                            <input type="number" class="form-control" name="seguros" id="seguros" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-success">Hacer Cálculo</button>
                </form>
            </div>
          </div> 
    </div>
           
{% endblock  %}