{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}WattWise - Home{% endblock %}

{% block body %}
<body>
    <!-- Agregación de hoja de estilos página Index(CSS) -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <section class="services">
      <h2>Nuestros Servicios</h2>
      <div class="main">
        <ul class="cards">
          <li class="cards_item">
            <a href="{% url 'vehiculos' %}" class="card-link">
              <div class="card">
                  <div class="card_image">
                    <img src="{% static 'img/Vehiculos.jpg' %}" alt="vehiculos"/>
                  </div>
                  <div class="card_content">
                      <h2 class="card_title">Vehículos</h2>
                    <div class="card_text">
                      <p>Explora los vehículos eléctricos más avanzados del mercado, con detalles de marcas, modelos y características que impulsan un futuro sostenible y tecnológico.</p>
                    </div>
                  </div>
              </div>
            </a>
          </li>
      
          <li class="cards_item">
            <a href="{% url 'nosotros' %}" class="card-link">
              <div class="card">
                <div class="card_image">
                  <img src="https://storage.googleapis.com/a1aa/image/PexjhBGNHfteXIuDMoE8RyVc0xR8F5Q6eRhM3Np8P66pTTJPB.jpg" alt="about" />
                </div>
                <div class="card_content">
                  <h2 class="card_title">Sobre Nosotros</h2>
                  <div class="card_text">
                    <p>WattWise es un equipo comprometido con la sostenibilidad, que brinda una herramienta para ayudar a los usuarios a comparar costos y consumos entre vehículos eléctricos y tradicionales.
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </li>
      
          <li class="cards_item">
            <a href="{% url 'evSimulator' %}" class="card-link">
              <div class="card">
                <div class="card_image">
                  <img src="{% static 'img/ev-simulator.png' %}" alt="EV Simulator"/>
                </div>
                <div class="card_content">
                  <h2 class="card_title">EV Simulator</h2>
                  <div class="card_text">
                    <p>Prueba nuestra herramienta para calcular el consumo energético de tu vehículo eléctrico o para simular el de uno, si estás considerando adquirirlo.
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  
    <section class="hero">
        <div class="hero-content">
          <h1>Revoluciona tu<br>Experiencia en Movilidad</h1>
        </div>
    </section>
  
    <section class="contact-section">
      <h2>Contáctanos</h2>
      <p>¿Quieres que trabajemos juntos? ¡Déjanos tus datos y nos pondremos en contacto contigo en breve! Estaremos felices de tener noticias tuyas pronto.</p>
      <form>      
        <input name="name" type="text" class="feedback-input" placeholder="Nombre" />   
        <input name="email" type="text" class="feedback-input" placeholder="Correo" />
        <textarea name="text" class="feedback-input" placeholder="Comentario"></textarea>
        <input type="submit" value="Enviar"/>
      </form>
    </section>  
      <!-- Add Bootstrap and custom JavaScript (replace with your custom.js file) -->
  </body>
{% endblock  %}