{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}WattWise - Iniciar Sesión{% endblock  %}

{% block body %}
{% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<link rel="stylesheet" href="{% static 'styles/InicioDeSesion.css' %}">
<div class="registration-form">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-icon">
            <a href="{% url 'index' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
                <span><img src="{% static 'img/Logo.png' %}" width="100" height="80" alt="Logo"></span>
            </a>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" name="username" id="usuario" placeholder="Usuario" required>
        </div>
        <div class="form-group position-relative">
            <input type="password" class="form-control item" name="password" id="contraseña" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block sign-in">
                Iniciar Sesion
            </button>
        </div>
    </form>
    <div class="social-media">
        <h5>¿No tienes cuenta aún?</h5>
        <div class="form-group">
            <a href="{% url 'registro' %}">
                <button type="button" class="btn btn-block create-account">Registrarse</button>
            </a>
        </div>
    </div>
</div>
{% endblock  %}